body {
    padding-top: 100px;
}

.content {
    margin-top: 100px;
}

.title {
    font-size: 96px;
}
.username {
	color: #fff;
	font-size: 18px;
	padding-top: 5px;
}
/*
* Posts Styles
 */
#deleteForm {
  padding-top: 20px;
}